<div class="main">
  <!-- <div class="row">
    <%= image_tag('photos/test.jpg') %>
  </div> -->
  <div class="carousel carousel-slider" data-indicators='true'>
    <a class='carousel-item'><%= image_tag('photos/outdoor - pool angle') %></a>
    <a class='carousel-item'><%= image_tag('photos/outdoor - pool') %></a>
    <a class='carousel-item'><%= image_tag('photos/outdoor - tree') %></a>
    <a class='carousel-item'><%= image_tag('photos/indoor - living room') %></a>
  </div>
</div>
