<!DOCTYPE html>
<html>
<head>
	<title>Ranawara</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/material-photo-gallery.min.js"></script>

	<script src="https://maps.googleapis.com/maps/api/js?AIzaSyBi9IpdqcVc2l-Y38B5Ocqu05xM860hzOs&callback=initMap"
    async defer></script>

	<%= csrf_meta_tags %>
	<link rel="icon" href="https://github.com/EricRho/Ranawara/blob/76433591f985206e6b20306818964ffaee2ce98a/app/assets/images/logos/icon.png?raw=true">

  	<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
</head>
<body>
	<%= render 'layouts/header' %>
	<%= yield %>
	<!-- <%= render 'layouts/footer' %> -->
</body>
</html>
